<div class="navigation">
  <button *ngIf="viewOrPrint" class="btn btn-accent-cl mt-1 float-left" style="color:rgb(51, 51, 51)" (click)="goBack()">
    <i class="fa fa-arrow-left mr-2"></i> Back
  </button>
</div>
<div *ngIf="!viewOrPrint" class="container main-wpr">
  <div class="container">
    <div class="row mt-2">
      <div class="col-md-4">
        <div class="input-group mb-2">
          <input type="text" #sbId class="form-control form-control-sm" placeholder="search by id">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary btn-sm" (click)="searchPatient('patientId',sbId.value)" type="button">Search by id</button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="input-group mb-2">
          <input type="text" #sbName class="form-control form-control-sm" placeholder="search by name">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary btn-sm" (click)="searchPatient('name',sbName.value)" type="button">Search by name</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <table class="t-head table table-bordered scroll-head table-sm">
    <tbody class="bg-prime">
      <tr>
        <td class="pid">Patient Id</td>
        <td class="name">Name</td>
        <td class="age">Age</td>
        <td class="action2">View/Print</td>
      </tr>
    </tbody>
  </table>
  <div class="scrollable">
    <table class="table table-bordered table-sm">
      <tbody class="scrl-tb">
        <tr *ngFor="let patient of patientsArray;let i=index">
          <td class="pid">{{patient?.patientId}}</td>
          <td class="name">{{patient?.name | titlecase}}</td>
          <td class="age">{{patient?.age}}</td>
          <td class="action1 cursor"  >
            <i class="fa cursor ml-2 fa-eye fa-lg" style="color:black" (click)="onViewStart(patient, i)"></i>
            <i class="fa cursor ml-2 fa-print fa-lg"  (click)="onPrintStart(patient, i)"  style="color:black" ></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<app-print *ngIf="showPrintPage" [patientToPrint]="patientToPrint"></app-print>
<app-full-view *ngIf="showViewPage" [patientToView]="patientToView"></app-full-view>