div.top-bar{
    -webkit-app-region: drag;
    height:30px;
    background:orange;
}

.close,.max,.min{
    width:50px;
    height:100%;
    color:white;
    padding:5px
}
.close,.max,.min{
    transition: background-color 0.1s ease-in;
    -webkit-transition: background-color 0.1s ease-in;
}

.close:hover{
    background-color:#e23a3a;
}
.max:hover,.min:hover{
    background-color:#4d4d4d;
}

.menu{
    -webkit-app-region: no-drag;
}