<div class="container-fluid top-bar">
  <div (click)="close()" class="button-group close float-right menu cursor">
    <i class="fa ml-2 fa-times"></i>
  </div>
  <div (click)="max()" class="button-group max float-right menu cursor">
    <i class="fa ml-2 fa-window-maximize"></i>
  </div>
  <div (click)="min()" class="button-group min float-right menu cursor">
    <i class="fa ml-2 fa-window-minimize"></i>
  </div>

</div>

<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <ul class="navbar-nav mr-auto">
      <li  class="nav-item active">
        <a class="nav-link" style="color:orange" routerLink="/">
          <i class="fa fa-bars mr-2"></i>
          <b>Menu</b>
        </a>
      </li>
    </ul>

    <ul class="navbar-nav justify-content-center">
      <li class="nav-item" style="font-size:1.5em;color:orange">
        <b>{{currentMenu}}</b>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto justify-content-end">
      <li class="nav-item " style="color:orange">
        <b>VRDL Lab</b>
      </li>
    </ul>

  </nav>
</header>