<div class="navigation">
  <button *ngIf="edit" class="btn btn-accent-cl" style="color:rgb(51, 51, 51)" (click)="goBack()">
    <i class="fa fa-arrow-left mr-2"></i>Back
  </button>
</div>
<div *ngIf="!edit;else ifEditTrue" class="container main-wpr">
  <br/>
  <div class="container">
    <div class="row mt-2">

      <div class="col-md-4">
        <div class="input-group mb-2">
          <input type="text" #sbId class="form-control form-control-sm" placeholder="search by id">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary btn-sm" (click)="searchPatient('patientId',sbId.value)" type="button">Search by id</button>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="input-group mb-2">
          <input type="text" #sbName class="form-control form-control-sm" placeholder="search by name">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary btn-sm" (click)="searchPatient('name',sbName.value)" type="button">Search by name</button>
          </div>
        </div>
      </div>

    </div>
  </div>
  <table class="t-head table table-bordered scroll-head table-sm">
    <tbody class="bg-prime">
      <tr>
        <td class="pid">Patient Id</td>
        <td class="name">Name</td>
        <td class="age">Age</td>
        <td class="edit">Edit/Delete</td>
      </tr>
    </tbody>
  </table>
  <div class="scrollable">
    <table class="table table-bordered table-sm">
      <tbody class="scrl-tb">
        <tr *ngFor="let patient of patientsArray;let i=index">
          <td class="pid">{{patient?.patientId}}</td>
          <td class="name">{{patient?.name | titlecase}}</td>
          <td class="age">{{patient?.age}}</td>
          <td class=" edit">
            <i class="fa cursor ml-2 fa-pencil-square-o fa-lg" (click)="onEditStart(patient, i)" style="color:black"></i>
            <i data-toggle="modal" data-target="#deleteModal" (click)="deleteIndex = i" class="fa cursor ml-2 fa-lg fa-trash" style="color:black"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- DELETE confirmation modal -->
<div class="modal" id="deleteModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h5 class="modal-title text-center">This patient record will be deleted.</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <button data-dismiss="modal" class="btn text-center btn-accent" style="margin:auto;width:150px" (click)="deleteRecord()">Confirm delete</button>
      </div>
    </div>
  </div>
</div>

<ng-template #ifEditTrue>
  <app-tests [patientToEdit]="patientToEdit"></app-tests>
</ng-template>