.bg-prime{
    color:white
}

.navigation{
height:40px;
background: rgb(219, 219, 219);
border-bottom: 1px solid rgb(211, 211, 211)
}

thead{
    display: block;
}

table.t-head{
    margin-bottom:0px
}

div.scrollable{
    height:350px;
    background:white;
    padding:0px;
    overflow-y:scroll;
    margin:0px;
    width:100%
}

.scroll-head{
    width:98.2% 
}
.pid{
    width:20%
}
.name{
    width:30%
}
.age{
    width:10%
}
.altid{
    width:25%
}
.edit{
    width:10%    
}


#deleteModal{
    margin-top:150px
}