

<div class="container">
  <div class="row menu-row justify-content-center">
    <div class="col-3 col-md-3 menu-wpr">
      <h5 class="text-center">Backup All Records</h5>
      <a  data-toggle="modal" data-target="#backupAllModal" >
        <div class="menu-item cursor">
          <img src="assets/icons/backup.png" class="img-responsive icon-img" />
        </div>
      </a>
    </div>
    <div class="col-3 col-md-3 menu-wpr">
        <h5 class="text-center">Backup with date</h5>        
      <a data-toggle="modal" data-target="#backupModal" >
        <div class="menu-item cursor">
            <img src="assets/icons/backup_t.png" class="img-responsive icon-img" />
        </div>
      </a>
    </div>
    <div class="col-3 col-md-3 menu-wpr">
        <h5 class="text-center">Set Patient Id</h5>        
      <a  data-toggle="modal" data-target="#resetIdModal">
        <div class="menu-item cursor">
            <img src="assets/icons/reset.png" class="img-responsive icon-img" /> 
        </div>
      </a>
    </div>
  </div>
</div>





<!-- BACK UP MODAL -->
<div class="modal" id="backupModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h5 class="modal-title">Backup data with date range.</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label>From:</label>
              <input #from class="form-control" type="date" name="from">
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label>To:</label>
              <input #to class="form-control" type="date" name="to">
            </div>
          </div>
        </div>

      </div>

      <button data-dismiss="modal" class="btn text-center btn-accent" style="margin:auto;width:150px" (click)="doBackup(0)">Backup</button>
      <br/>
    </div>
  </div>
</div>





<div class="modal" id="backupAllModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h5 class="modal-title">Backup all data</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body text-center">
    
        <h5>All patient records will be backed up.</h5>
        <br>
        <button data-dismiss="modal" class="btn btn-accent" style="margin:auto;width:200px" (click)="doBackup(1)">Backup All</button>

      </div>

     
    </div>
  </div>
</div>



<!-- RESET PATIENT ID MODAL -->
<div class="modal" id="resetIdModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h5 class="modal-title">Reset Patient Id</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
          <h6>Patient Id will be set to the input value.</h6>
        <div class="row justify-content-center">
          <div class="col-md-6 ">
            <div class="form-group text-center">
              <input #id type="number" [(ngModel)]="set_id" class="form-control mb-2" placeholder="enter the id to set" name="id">
              <p>VRDL{{year}}-{{set_id}}</p>
               <button data-dismiss="modal"  class="btn text-center btn-accent" style="margin:auto;width:150px"
                (click)="setId()">Set Id</button>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>