.tile-wpr{
    border:1px solid rgb(224, 224, 224);
    padding:20px
}

.tiles{
    width:100%;
    margin:auto;
    background:white;
    border-top:4px solid orange;
    border-radius:5px;
    overflow-y: auto;
    padding:15px
}
div.test-list-div,div.invs-list-div{
    padding:20px
}

div.scroller{
    height:350px;
    overflow-y:auto
}

div.pet-det-wpr{
    padding:10px
}

.pat-det{
    display:inline-block
}

li.test-list{
    transition:background-color .2s ease-in;
    -webkit-transition:background-color .2s ease-in;
}

li.test-list:hover{
    background-color:rgb(224, 224, 224)
}
p#specimen,p#doc{
    margin:0px
}

p#doc{
  font-size:0.8em  
}


div.edt-view-wpr{
    
}