<div class="container-fluid">
  <div class="row pet-det-wpr">
    <div class="col">
      <p class="pat-det mr-2">
        <b>Name:</b> {{patientToEdit.name | titlecase}}</p>
      <p class="pat-det mr-2">
        <b>Patient Id:</b> {{patientToEdit.patientId}}</p>
      <p class="pat-det mr-2">
        <b>Age:</b> {{patientToEdit.age}}</p>
      <p class="pat-det mr-2">
        <b>Gender:</b> {{patientToEdit.gender | titlecase}}</p>
      <p class="pat-det">
        <b>OPD/CADS No.:</b> {{patientToEdit.altId}}</p>
    </div>
  </div>

  <div class="row">

    <div class="col-md-4 tile-wpr">
      <h5>Tests</h5>
      <div class="scroller">
        <ul class="list-group">
          <ng-container *ngFor="let test of patientToEdit.tests;let i= index">
            <li [ngClass]="{'active-bl': isActive(i)}" class="list-group-item cursor test-list" (click)="onSelect(i)">
              <b>{{test.specimen}}</b> |
              <span class="note-txt">{{test.testName}}</span>
              <p class="note-txt pb-0 mb-0 ">DOC: {{test.dateOfCollection}}</p>
              <p class="note-txt  pb-0 mb-0">DOT: {{test.dateOfTesting}}</p>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>


    <!-- THIS PORTION IS VISIBLE WHEN  testSelected = true-->
    <div *ngIf="testSelected;else selectTest" class="col-md-8 edt-view-wpr">
      <form [formGroup]="editForm">
        <div class="row">
          <div class="col-5">
            <!-- SPECIMEN -->
            <div>
              <div class="lab-details-col">
                <label class="text-accent">
                  <b>Specimen</b>
                </label>
                <input list="specimenSugg" #specimen type="text" formControlName="specimen" class="form-control form-control-sm" (keyup)="getSuggestions('specimen',specimen.value)">
                <datalist *ngIf="suggObject.source === 'specimen'" id="specimenSugg">
                  <option *ngFor="let item of suggObject.suggArray" value="{{item}}"></option>
                </datalist>
              </div>
            </div>
            <!-- LAB NO -->
            <div class="row">
              <div class="col-6">
                <div class="lab-details-col">
                  <label class="text-accent">
                    <b>Lab No.</b>
                  </label>
                  <input #labNo list="labnoSugg" type="text" (keyup)="getSuggestions('labno',labNo.value)" formControlName="labNo" class="form-control form-control-sm">
                  <datalist *ngIf="suggObject.source === 'labno'" id="labnoSugg">
                    <option *ngFor="let item of suggObject.suggArray" value="{{item}}"></option>
                  </datalist>
                </div>
              </div>
              <div class="col-6">
                <div class="lab-details-col">
                  <label class="text-accent">
                    <b>Serum value</b>
                  </label>
                  <input type="text" formControlName="serumValue" class="form-control form-control-sm">
                </div>
              </div>

            </div>
            <!-- PHYSICIAN -->
            <div class="row">
              <div class="col-6">
                <div class="lab-details-col">
                  <label class="text-accent">
                    <b>Physician</b>
                  </label>
                  <input list="physSugg" #physician type="text" formControlName="physician" (keyup)="getSuggestions('physician',physician.value)"
                    class="form-control form-control-sm">
                  <datalist *ngIf="suggObject.source === 'physician'" id="physSugg">
                    <option *ngFor="let item of suggObject.suggArray" value="{{item}}"></option>
                  </datalist>
                </div>
              </div>
              <div class="col-6">
                <div class="lab-details-col">
                  <label class="text-accent">
                    <b>Test name</b>
                  </label>
                  <input list="testnameSugg" #testName type="text" formControlName="testName" (keyup)="getSuggestions('testname',testName.value)"
                    class="form-control form-control-sm">
                  <datalist *ngIf="suggObject.source === 'testname'" id="testnameSugg">
                    <option *ngFor="let item of suggObject.suggArray" value="{{item}}"></option>
                  </datalist>
                </div>
              </div>

            </div>

            <!--CLINICAL DIAGNOSYS-->
            <div>
              <div class="lab-details-col">
                <label class="text-accent">
                  <b>Clinical diagnosis</b>
                </label>
                <input list="cdiagSugg" #cDiag type="text" formControlName="clinicalDiagnosis" (keyup)="getSuggestions('cdiag',cDiag.value)"
                  class="form-control form-control-sm">
                <!-- <select formControlName="clinicalDiagnosis" class="form-control form-control-sm">
                  <option *ngFor="let cd of clinicalDiagnosis" value="{{cd}}">{{cd | uppercase}}</option>
                </select> -->
                <datalist *ngIf="suggObject.source === 'cdiag'" id="cdiagSugg">
                  <option *ngFor="let item of suggObject.suggArray" value="{{item}}"></option>
                </datalist>
              </div>
            </div>

            <!-- DATE OF COLLECTION -->
            <div>
              <div class="lab-details-col">
                <label class="text-accent">
                  <b>Date of collection</b>
                </label>
                <input type="date" formControlName="dateOfCollection" class="form-control form-control-sm">
              </div>
            </div>

            <!-- DATE OF TESTINGs -->
            <div>
              <div class="lab-details-col">
                <label class="text-accent">
                  <b>Date of testing</b>
                </label>
                <input type="date" formControlName="dateOfTesting" class="form-control form-control-sm">
              </div>
            </div>
          </div>

          <!-- INVESTIGATION EDIT -->
          <div class="col-6">
            <h5 class="text-accent">Investigations</h5>
            <div formArrayName="investigations">
              <div class="form-group form-inline" *ngFor="let investigation of editForm.get('investigations').controls;let i=index">

                <label class="text-accent mr-2">{{investigationArray[i].parameter}}</label>
                <input [attr.list]="i" [(ngModel)]="investigationArray[i].result" #resultSugg type="text" [formControlName]="i" (keyup)="getSuggestions('result',resultSugg.value)"
                  class="form-control form-control-sm">
                <datalist *ngIf="suggObject.source === 'result'" id="{{i}}">
                  <option *ngFor="let item of suggObject.suggArray" value="{{item}}"></option>
                </datalist>
              </div>
            </div>
          </div>
        </div>
        <button [disabled]="disabled" class="btn btn-accent cursor mt-2" (click)="onSave()">Save</button>
      </form>
    </div>
    <ng-template #selectTest>
      <div class="col-md-8 ">
        <br/>
        <br/>
        <br/>
        <br/>
        <h4 class="text-center hdg-gray">Select a test to edit</h4>
      </div>
    </ng-template>




  </div>
</div>