<form [formGroup]="testRecord">

  <div class="row">
    <ng-container>
      <!-- LAB NO -->
      <div class="col-3 ">
        <div class="lab-details-col">
          <label class="text-accent">
            <b>Lab No.</b>
          </label>
          <input list="labnoSugg" #labNo type="text" formControlName="labNo" class="form-control form-control-sm" (keyup)="getSuggestions('labno',labNo.value)">
          <datalist *ngIf="suggObject.source === 'labno'" id="labnoSugg">
              <option *ngFor="let item of suggObject.suggArray" value="{{item}}"></option>
            </datalist>
        </div>
      </div>
      <!-- DATE OF COLLECTION -->
      <div class="col-3 ">
        <div class="lab-details-col">
          <label class="text-accent">
            <b>Date of collection*</b>
          </label>
          <input type="date" (change)="onDateSelected()" #dateInput formControlName="dateOfCollection" class="form-control form-control-sm">
        </div>
      </div>
      <!-- DATE OF TESTING -->
      <div class="col-3">
        <div class="lab-details-col">
          <label class="text-accent">
            <b>Date of testing</b>
          </label>
          <input type="date" formControlName="dateOfTesting" class="form-control form-control-sm">
        </div>
      </div>
      <!-- SPECIMEN -->

      <div class="col-3 ">
        <div class="lab-details-col">
          <label class="text-accent">
            <b>Specimen*</b>
          </label>
          <input list="specimenSugg" #specimen type="text" formControlName="specimen" class="form-control form-control-sm" (keyup)="getSuggestions('specimen',specimen.value)">
          <datalist *ngIf="suggObject.source === 'specimen'" id="specimenSugg">
              <option *ngFor="let item of suggObject.suggArray" value="{{item}}"></option>
            </datalist>
        </div>
      </div>
    </ng-container>
  </div>

  <!-- ROW THREE -->
  <br/>
  <ng-container>
    <div class="row">
      <!-- PHYSICIAN -->
      <div class="col-3 ">
        <div class="lab-details-col">
          <label class="text-accent">
            <b>Physician*</b>
          </label>
          <input list="physSugg" #physician type="text" formControlName="physician" (keyup)="getSuggestions('physician',physician.value)"
            class="form-control form-control-sm">
          <datalist *ngIf="suggObject.source === 'physician'" id="physSugg">
            <option *ngFor="let item of suggObject.suggArray" value="{{item}}"></option>
          </datalist>
        </div>
      </div>

      <!--CLINICAL DIAGNOSYS-->
      <div class="col-3 ">
        <div class="lab-details-col">
          <label class="text-accent">
            <b>Clinical diagnosis*</b>
          </label>
          <input list="cdiagSugg" #cDiag type="text" formControlName="clinicalDiagnosis" (keyup)="getSuggestions('cdiag',cDiag.value)" class="form-control form-control-sm">
          <datalist *ngIf="suggObject.source === 'cdiag'" id="cdiagSugg">
            <option *ngFor="let item of suggObject.suggArray" value="{{item}}"></option>
          </datalist>
        </div>
      </div>
      <!-- ADD INVESTIGATION -->
      <div class="col-6">
        <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="col-8">
                <div class="row">
                  <div class="col-6">
                    <label class="text-accent">
                      <b>Test name:*</b>
                    </label>
                    <input list="testnameSugg" #testName (keyup)="getSuggestions('testname',testName.value)" type="text" placeholder="enter test name" formControlName="testName"
                      class="form-control form-control-sm">
                      <datalist *ngIf="suggObject.source === 'testname'" id="testnameSugg">
                          <option *ngFor="let item of suggObject.suggArray" value="{{item}}"></option>
                        </datalist>
                  </div>
                  <div class="col-6">
                    <label class="text-accent">
                      <b>Serum value:</b>
                    </label>
                    <input type="text" placeholder="serum value if any" formControlName="serumValue" class="form-control form-control-sm">
                  </div>
                </div>

              </div>
              <div class="col-4">
                <button class="btn btn-accent mr-auto mt-4" style="width:100%;" data-toggle="modal" data-target="#investigation" type="button">Add Investigations</button>
              </div>
            </div>

          </div>

          <div class="col-12" style="position:relative;padding:5px;margin-top:15px">
            <!-- INVESTIGATIONS ADDED -->
            <div *ngIf="investigationsAdded.length > 0" style="right:20px;position:absolute;width:90%;height:80px;background:white;border:3px solid rgb(233, 233, 233); overflow-y: scroll;">
              <ul style="list-style-type:none">
                <li *ngFor="let item of investigationsAdded;let i=index">
                  <i class="cursor" (click)="removeInvestigation(i)">
                    <b>&times;</b>
                  </i>
                  {{item['parameter']}} | {{item['result']}}
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>

      <!--INVESTIGATION MODAL -->
      <div class="modal fade" id="investigation" style="top:200px">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title hdg-gray">Investigation</h4>
              <button type="button btn-accent" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <ng-container formGroupName="investigation">

                <div class="row">
                  <div class="col-6">
                    <div class="lab-details-col">
                      <label class="text-accent">
                        <b>Parameter*</b>
                      </label>
                 
                      <input list="parSugg" #parSugg type="text" formControlName="parameter" (keyup)="getSuggestions('param',parSugg.value)" class="form-control form-control-sm">
                      <datalist *ngIf="suggObject.source === 'param'" id="parSugg">
                        <option *ngFor="let item of suggObject.suggArray" value="{{item}}"></option>
                      </datalist>
                    </div>
                  </div>

                  <div class="col-6">
                    <div class="lab-details-col">
                      <label class="text-accent">
                        <b>Lab result*</b>
                      </label>

                      <input list="resultSugg" #resultSugg type="text" formControlName="result" (keyup)="getSuggestions('result',resultSugg.value)" class="form-control form-control-sm">
                      <datalist *ngIf="suggObject.source === 'result'" id="resultSugg">
                        <option *ngFor="let item of suggObject.suggArray" value="{{item}}"></option>
                      </datalist>
                    </div>
                  </div>
                </div>
              </ng-container>
              <button type="button" data-dismiss="modal" class="btn btn-accent mt-4" (click)="addInvestigation(testRecord.get('investigation').value)">Add</button>
              <button type="button" data-dismiss="modal" class="btn btn-accent-br ml-2 mt-4">Cancel</button>
              <br/>
            </div>

          </div>
        </div>
      </div>

      <button type="button" (click)="saveTest()" class="btn btn-accent ml-3 mt-4">
        <i class="fa fa-hdd-o mr-2"></i>Save
      </button>
      <button type="button" (click)="cancelSaveTest()" class="btn btn-accent-br ml-3 mt-4">
        <i class="fa fa-times mr-2"></i>Cancel
      </button>

    </div>
  </ng-container>