<app-header></app-header>

<!-- ########################################       ROUTER OUTLET       ############ -->

<router-outlet></router-outlet>

<!-- ######################################## -->


<!-- FOOTER -->
<footer>
  <div class="container-fluid fixed-bottom" style="height:30px;background:rgb(37, 37, 37)">
    <p class="text-accent ml-3 mt-2" style="font-size:0.6em">developer's email: md.usaama321@gmail.com</p>
  </div>
</footer>