<div class="container">

    <div class="row">
        <div class="col-md-6 pat-details-wpr">
            <h4 class="text-accent">Patient Info</h4>
            <div class="pat-details mt-2">
                <h6>
                    <b>Patient Id: </b>{{patientToPrint.patientId}}</h6>
                <h6>
                    <b>Name: </b>{{patientToPrint.name | titlecase}}</h6>
                <h6>
                    <b>Age: </b>{{patientToPrint.age}}</h6>
                <h6>
                    <b>Gender: </b>{{patientToPrint.gender | titlecase}}</h6>
                <h6>
                    <b>OPD/IP/CADS No: </b>{{patientToPrint.altId}}</h6>
            </div>
            <div class="test-list-div">
                <h4 class="text-accent mb-2 mt-0">Tests</h4>
                <div class="scroller">
                    <ul class="list-group">
                        <ng-container *ngFor="let test of patientToPrint.tests;let i=index">
                            <li [ngClass]="{'active-bl': isActive(i)}" class="list-group-item cursor test-list" (click)="onTestSelect(i,$event)">
                                <b>{{test.specimen}}</b> |
                                <span class="note-txt">{{test.testName}}</span>
                                <p class="note-txt pb-0 mb-0 ">DOC: {{test.dateOfCollection}}</p>
                                <p class="note-txt  pb-0 mb-0">DOT: {{test.dateOfTesting}}</p>
                            </li>
                        </ng-container>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-6 invs-list-div">
            <h4 class="text-accent mb-2">Investigations</h4>
            <p class="note-txt">Select investigations to print.</p>
            <div class="scroller-sm">
                <ul class="list-group">
                    <li *ngFor="let investigation of activeTest.investigations; let i=index" class="list-group-item invs-list">
                        {{investigation.parameter}}
                        <span class="float-right">
                            <span class="mt-0 pt-0 mr-3" style="font-size:0.7em;color:#a1a1a1">{{investigation.result}}</span>
                            <input type="checkbox" [checked]="investigation['checked']" (change)="onInvestigationSelect($event.target.checked,i)">
                        </span>
                    </li>
                </ul>
            </div>
            <!-- PRINT BUTTON -->
            <div class="print-btn-div">
                <button type="button" class="btn-lg btn btn-accent" (click)="onPrint()">
                    <i class="fa fa-print fa-lg"></i> Print
                </button>
            </div>
        </div>
    </div>
</div>