div.test-list-div,div.invs-list-div,div.pat-details-wpr{
    padding:10px
}

.pat-details-wpr{

}
.pat-details{
    padding:10px;
    background:white;
    border:2px solid rgb(216, 216, 216);

}

div.print-btn-div{
    margin-top:10px;
}

div.scroller{
    height:200px;
    overflow-y:auto
}

div.scroller-sm{
    height:250px;
    overflow-y:auto 
}

li.test-list{
    transition:background-color .2s ease-in;
    -webkit-transition:background-color .2s ease-in;
}

li.test-list:hover{
    background-color:rgb(224, 224, 224)
}