
div.menu-row{
    margin-top:50px
}

div.menu-wpr{
    padding:10px;
   
}

div.menu-item{
    border: 1px solid rgb(209, 209, 209);
    border-radius: 10px;
    background:#343a40;
    height:200px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.3);
    transition: transform .2s; /* Animation */
}

div.menu-item:hover{
    transform: scale(1.02);
}


img.icon-img{
    max-width:170px;
    margin:auto;
    display:block;
    margin-top:10px
}

div#dept-info{
    position: absolute;
    bottom:50px;
    width:100%;
    padding:0px 50px 0px 0px;
    color:rgb(190, 190, 190);
    text-align: right
}