<div class="container">
  <div class="row menu-row">
    <div class="col-3 col-md-3 menu-wpr">
      <h5 class="text-center">New Patient Record</h5>
      <a routerLink="/add" (click)="changeCurrentMenu('Add Records')">
        <div class="menu-item cursor">
          <img src="assets/icons/add.png" class="img-responsive icon-img" />
        </div>
      </a>
    </div>
    <div class="col-3 col-md-3 menu-wpr">
        <h5 class="text-center">Edit Records</h5>        
      <a routerLink="/modify" (click)="changeCurrentMenu('Edit Records')">
        <div class="menu-item cursor">
            <img src="assets/icons/modify.png" class="img-responsive icon-img" />
        </div>
      </a>
    </div>
    <div class="col-3 col-md-3 menu-wpr">
        <h5 class="text-center">View / Print Records</h5>        
      <a routerLink="/view" (click)="changeCurrentMenu('View / Print Records')">
        <div class="menu-item cursor">
            <img src="assets/icons/view.png" class="img-responsive icon-img" /> 
        </div>
      </a>
    </div>
    <div class="col-3 col-md-3 menu-wpr">
        <h5 class="text-center">Settings</h5>        
      <a routerLink="/settings">
        <div class="menu-item cursor">
            <img src="assets/icons/settings.png"  (click)="changeCurrentMenu('Settings')" class="img-responsive icon-img" />
            
        </div>
      </a>
    </div>
  </div>
</div>

<div id="dept-info" class="container- bottom">
<h5 style="margin-bottom:0px">Department of Microbiology</h5>
<p  style="margin:0px;padding:0px">AMU Aligarh</p>
</div>