<div class="container-fluid wpr">
  <div class="heading">
    <h3 class="hdg-gray">Add new patient record</h3>
  </div>

  <div class="form-wpr">
    <div>
      <h5 class="text-accent">Patient id:
        <b>VRDL18-00001</b>
      </h5>
    </div>
    <br/>
    <!-- FORM START -->
    <form ngNativeValidate (ngSubmit)="onSubmit(form)" #form="ngForm">
      <!-- FIRST ROW -->
      <div class="row">
        <!-- PATIENT NAME -->
        <div class="col-3">
          <label class="text-accent">
            <b>Name of Patient</b>
          </label>
          <input type="text" #nm="ngModel" name="name"  ngModel class="form-control form-control-sm" required>
         </div>
            <!-- AGE GENDER -->
            <div class="col-5">
              <div class="row">
                <div class="col">
                  <label class="text-accent">
                    <b>Age</b>
                  </label>
                  <input type="number" name="age" ngModel class="form-control form-control-sm" required>
                </div>
                <div class="col">
                  <label class="form-check-label text-accent">
                    <b>Gender</b>
                  </label>
                  <br/>
                  <div class="form-inline mt-2">
                    <label class="form-check-label ">
                      <b>Male</b>
                    </label>
                    <input checked type="radio" name="gender" ngModel value="male" class="form-radio-input ml-2" required>
                    <label class="form-check-label ml-2">
                      <b>Female</b>
                    </label>
                    <input type="radio" name="gender" ngModel value="female" class="form-radio-input ml-2" required>
                  </div>
                </div>
              </div>
            </div>
            <!-- OPD ID IF ANY -->
            <div class="col-4">
              <label class="text-accent">
                <b>OPD/IP/CADS</b>
              </label>
              <input type="text" name="altId" ngModel class="form-control form-control-sm">
            </div>

        </div>

        <!-- SECOND ROW -->
        <br/>
        <div>
          <h5 class="lead">
            <b>Lab specific details</b>
          </h5>
        </div>
        <div class="row">
          <!-- LAB NO -->
          <div class="col-3 ">
            <div class="lab-details-col">
              <label class="text-accent">
                <b>Lab No.</b>
              </label>
              <input type="text" name="labNo" ngModel class="form-control form-control-sm" required>
            </div>
          </div>

          <!-- DATE OF COLLECTION -->
          <div class="col-3 ">
            <div class="lab-details-col">
              <label class="text-accent">
                <b>Date of collection</b>
              </label>
              <input type="date" name="dateOfCollection" ngModel class="form-control form-control-sm" required>
            </div>
          </div>

          <!-- DATE OF RESULT -->
          <div class="col-3 ">
            <div class="lab-details-col">
              <label class="text-accent">
                <b>Date of testing</b>
              </label>
              <input type="date" name="dateOfTesting" ngModel class="form-control form-control-sm" required>
            </div>
          </div>

          <!-- SPECIMEN -->
          <div class="col-3 ">
            <div class="lab-details-col">
              <label class="text-accent">
                <b>Specimen</b>
              </label>
              <select name="specimen" ngModel class="form-control form-control-sm" required>
                <option value="blood serum">BLOOD SERUM</option>
              </select>
            </div>
          </div>
        </div>


        <!-- ROW THREE -->
        <br/>
        <div class="row">
          <!-- PHYSICIAN -->
          <div class="col-3 ">
            <div class="lab-details-col">
              <label class="text-accent">
                <b>Physician</b>
              </label>
              <select name="physician" ngModel class="form-control form-control-sm" required>
                <option value="prof anjum parvez">PR0F ANJUM PARVEZ</option>
              </select>
            </div>
          </div>

          <!--CLINICAL DIAGNOSYS-->
          <div class="col-3 ">
            <div class="lab-details-col">
              <label class="text-accent">
                <b>Clinical diagnosis</b>
              </label>
              <select name="clinicalDiagnosis" ngModel class="form-control form-control-sm" required>
                <option value="viral hepatitis">VIRAL HEPATITIS</option>
              </select>
            </div>
          </div>

          <!--INVESTIGATION-->
          <div class="col-3 ">
            <div class="lab-details-col">
              <label class="text-accent">
                <b>Investigation</b>
              </label>
              <select name="investigation" ngModel class="form-control form-control-sm" required>
                <option value="HbsAg">HbsAg</option>
                <option value="HbsAg">option 2</option>
              </select>
            </div>
          </div>


          <!--LAB RESULT-->
          <div class="col-3 ">
            <div class="lab-details-col">
              <label class="text-accent">
                <b>Lab result</b>
              </label>
              <select name="labResult" ngModel class="form-control form-control-sm" required>
                <option value="reactive">Reactive</option>
                <option value="non reactive">Non reactive</option>
              </select>
            </div>
          </div>
          <button type="submit" class="btn btn-accent ml-3 mt-4">
            Create Record
          </button>
          <button type="submit" (click)="onCreateAndPrint(form)" class="btn btn-accent ml-3 mt-4">
            Create & Print
          </button>
          <button type="button" (click)="reset(form)" class="btn btn-accent-br ml-3 mt-4">
            Reset
          </button>

        </div>
    </form>
    <!-- FORM END-->
    </div>
  </div>