<div class="container-fluid view-wpr">
  <div class="d-flex p-2  flex-row mt-3 info-div" style="color:black">
    <p class="ml-4">
      <b>Patient Id: </b>{{patientToView.patientId}}</p>
    <p class="ml-4">
      <b>Name: </b>{{patientToView.name | titlecase}}</p>
    <p class="ml-4">
      <b>Age: </b>{{patientToView.age}}</p>
    <p class="ml-4">
      <b>Gender: </b>{{patientToView.gender | titlecase}}</p>
    <p class="ml-4">
      <b>OPD/IP/CADS No: </b>{{patientToView.altId}}</p>
  </div>
  <hr>
  <div class="row">
    <div class="col-4">
      <h5>Tests</h5>
      <div class="scrollable">
        <ul class="list-group">
          <li [ngClass]="{'active-bl': isActive(i)}" class="list-group-item cursor test-list" (click)="onSelect(i)" *ngFor="let test of patientToView.tests;let i=index"
            (click)="onTestSelect(i)">
            {{test.specimen | titlecase}} | {{test.testName | titlecase}}
          </li>
        </ul>
      </div>
    </div>

    <div class="col-4">
      <p>
        <b>Specimen: </b>{{testToView.specimen | titlecase}}</p>
      <p>
        <b>Test Name: </b>{{testToView.testName | titlecase}}</p>
      <p>
        <b>Lab No.: </b>{{testToView.labNo | titlecase}}</p>
      <p>
        <b>Physician: </b>{{testToView.physician | titlecase}}</p>
      <p>
        <b>Clinical Diagnosis: </b>{{testToView.clinicalDiagnosis | titlecase}}</p>
      <p>
        <b>Date of Collection: </b>{{testToView.dateOfCollection}}</p>
      <p>
        <b>Date of Testing: </b>{{testToView.dateOfTesting}}</p>
      <br/>
    </div>

    <div class="col-4">
      <h5>Investigations</h5>
      <div class="scrollable">
        <p *ngFor="let item of testToView.investigations">{{item.parameter}} | {{ item.result}}</p>
      </div>

    </div>



  </div>