/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";


body{
    padding:0px;
    margin:0px;
    background: rgb(240, 240, 240)
}


*{
    box-sizing:border-box;
}


.cursor{
    cursor: pointer
}

.bg-prime{
    background:#343a40
}
/* TYPOGRAPHY */
.hdg-primary{
    color:rgb(54, 157, 241)
}

.hdg-gray{
    color:rgb(92, 92, 92)
}

.note-txt{
    color:rgb(133, 133, 133);
    font-size:0.9em
}
.note-txt-ac{
    font-size:0.9em;
    color:orange
}
.text-accent{
    color:orange
}

.btn-accent{
    background:orange;
    color:white;
}

.btn-accent:hover{
    background:rgb(238, 151, 0);
    color:white;
}

.btn-accent-br{ 
    border:2px solid orange;
    background:white;
    color:orange
    
}

.btn-accent-br:hover{
   color:rgb(214, 136, 1) 
}

.active-bl{
    border-left:5px solid orange
}

.btn-accent-cl{
    background:transparent;
    border:0px;
    color:orange
}


.list-group-item{
    padding:5px;
}

.btn-accent-cl:hover{
    color:rgb(204, 131, 4)
}

.vldtn-msg{
    font-size:0.7em;
    color:rgb(255, 23, 23);
    padding:5px 0px 0px 0px;
    margin:0px
}