<div class="container-fluid wpr">
  <div class="heading">
    <h4 class="hdg-gray">Add new patient record</h4>
  </div>

  <div class="form-wpr">
    <div>
      <h5 class="text-accent">Patient id:
        <b>{{newPatientId}}</b>
      </h5>
    </div>
    <br/>

    <!-- FORM START -->
    <form [formGroup]="patientInfo" (ngSubmit)="prepareBeforeSubmit()">
      <!-- FIRST ROW -->
      <div class="row">
        <!-- PATIENT NAME -->
        <div class="col-3">
          <label class="text-accent">
            <b>Name of Patient*</b>
          </label>
          <input type="text" formControlName="name" class="form-control form-control-sm">
        </div>

        <div class="col-3">
          <label class="text-accent">
            <b>Age*</b>
          </label>
          <input type="text" placeholder="ex: 3 Y, 6 M" formControlName="age" class="form-control form-control-sm">
        </div>

        <!-- OPD ID IF ANY -->
        <div class="col-3">
          <label class="text-accent">
            <b>OPD/IP/CADS</b>
          </label>
          <input type="text" formControlName="altId" class="form-control form-control-sm">
        </div>

        <div class="col-3">
          <label class="form-check-label text-accent">
            <b>Gender*</b>
          </label>
          <br/>
          <div class="form-inline mt-2">
            <label class="form-check-label ">
              <b>Male</b>
            </label>
            <input type="radio" formControlName="gender" value="male" class="form-radio-input ml-2">
            <label class="form-check-label ml-2">
              <b>Female</b>
            </label>
            <input type="radio" formControlName="gender" value="female" class="form-radio-input ml-2">
          </div>
        </div>


      </div>
    </form>
    <hr>
    <button *ngIf="!showSpecimenComponent" type="button" class="btn btn-accent" (click)="addSpecimen()">
      <i class="fa fa-plus mr-2"></i>Add specimen
    </button>
    <hr *ngIf="!showSpecimenComponent">
    <!-- FORM END-->
  </div>
  <app-specimen *ngIf="showSpecimenComponent;else testsAdded" (test)="onTestAdded($event)" (dismissTestForm)="onTestFormDismiss($event)"></app-specimen>

  <ng-template #testsAdded>
    <div class="container-fluid">
      <div class="row">
        <div class="col-4 test-container">
          <ul class="list-group">
            <li *ngFor="let test of tests;let i=index" class="list-group-item">
              <p>
                <span class="text-accent">
                  <i class="fa fa-trash mr-3 cursor" (click)="deleteAddedTest(i)"></i>
                  <b>{{test.specimen}}</b>
                </span>
              </p>
            </li>
          </ul>
        </div>
        <div *ngIf="tests.length > 0" class="col-4">
          <button class="btn btn-accent" (click)="submitForm()" type="button">
            <i class="fa fa-hdd-o mr-2"></i>Save Patient Record
          </button>
        </div>
      </div>
    </div>
  </ng-template>

</div>